* {
	margin: 0px;
	padding: 0px;
}
body {
	min-width: 800px;
}
/*-----导航栏-----*/
div.header {
	height: 61px;
	overflow: hidden;
}
/*-----新世界图标-----*/
a.logo {
	margin-left: 50px;
	height: 31px;
	text-decoration: none;
}
a.logo img {
	margin: 15px 10px 15px 0;
	width: 31px;
	height: 31px;
}
a.logo span {
	font-size: 21px;
	font-family: "SimHei";
	color: #444444;
	position: relative;
	top: -21px;
}
/*-----导航链接-----*/
ul.nav-ul {
  	float: right;
  	margin-right: 50px;
  	padding: 21px 0;
  	font-size: 14px;
  	font-family: "Microsoft YaHei";
}
ul.nav-ul li {
	display: inline;
}
li.nav-li {
	padding: 0 10px;
	margin: 0 10px;
}
li.login {
	margin: 0px;
	padding: 0px;
}
li.nav-li a:link,a:visited {
  	color: #787878;
	text-decoration: none;
}
li.nav-li a:hover,a:active {
	color: #787878;
	text-decoration: none;
}
li.login a {
  	color: #e9605e;
	text-decoration: none;
}
i.fa-user-o {
	position: relative;
	left: 5px;
	top: -0.5px;
}
/*-----首图-----*/
div.exper {
	background-image: url('image/newlife.jpg');
	background-size: 100% 100%;
	min-width: 800px;
}
div.cover1 {
	background-color: rgba(0,0,0,0.2);
}
div.exper-content {
	margin-left: 100px;
	padding: 15% 0;
	font-family: "Microsoft YaHei";
  	color: #ffffff;
}
p.timeof {
	font-size: 60px;
}
p.together {
	font-size: 21px;
}
div.exper-content a {
	color: #ffffff;
	text-decoration: none;
}
p.start {
	background-color: #e74f4d;
	width: 331px;
  	font-size: 30px;
  	text-align: center;
  	padding: 12px 0;
  	margin-top: 70px;
}
/*-----四点描述-----*/
div.desc {
	min-width: 800px;
	font-size: 14px;
  	font-family: "SimHei";
  	color: #777777;
  	text-align: center;
}
div.icon {
	display: inline-block;
	margin: 30px 0; 
}
div.icon p {
	padding: 0 70px;
	text-align: center;
}
p.redicon {
	color: #e74f4d;
	margin-bottom: 20px;
}
p.word {
	border-right: 2px solid #989898;
}
/*-----关于新世界，你不知道的-----*/
div.unknow {
	background-color: #ececec;
	width: 100%;
	text-align: center;
	padding: 70px 0;
}
div.unknow p {
	margin-top: 30px;
	font-size: 53px;
  	font-family: "SimHei";
  	color: rgba(150,150,150,0.5);
}
/*-----查找活动-----*/