body {	
	background-color: #EEEEEE;
	font-family: monospace;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

/*-----导航栏-----*/
div.navbar{
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #999999;
	overflow: auto;
}
img.pic {
	height: 50px;
	margin: 10px 30px;
}
ul.nav-link{
	display: inline;
	float: right;
	margin: 30px;
}
li.link{
	display: inline;
	margin: 0 10px;
}
ul.nav-link a:link,a:visited {
	display:inline-block;
	color:#000000;
	width:auto;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
ul.nav-link a:hover,a:active {
	text-decoration:underline;
	color:#000000;
}

h2 {
	font-size: 25px;
	font-weight: bold;
}
h3 {
	font-size: 20px;
	font-weight: bold;
	color: #222222;
}
p.art-info {
	font-size: 12px;
	color: #555555;
}
p.section {
	text-indent: 2em;
}
div.img-inart img {
	width: 300px;
	height: auto;
}

div.mainbody{
	overflow: auto;
}

div.block {
	margin: 20px;
	padding: 10px;
	border-width: 3px;
	border-style: solid;
	border-left-color: #FFFFFF;
	border-right-color: #CCCCCC;
	border-top-color: #FFFFFF;
	border-bottom-color: #CCCCCC;
	background-color: #FFFFFF;
}

a.link-inline:link,a.link-inline:visited {
	color: blue;
	text-decoration-line: none;
}
a.link-inline:hover,a.link-inline:active {
	background-color: #DDDDDD;
	text-decoration-line: underline;
}
ul.list {
	list-style-type: none;
}
div#image {

}
div.img-case {
	height: auto;
	width: 200px;
	border: 1px solid #333333;
	display: inline-block;
}
div.img-case p {
	text-align: center;
	font-size: 12px;
}
div.img-case img {
	width: 200px;
}
ol {
	font-size: 15px;
	font-weight: bold;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table, td, th{
	border: 1px solid #555555;
	vertical-align: center;
	padding: 5px;
}
th {
	background-color: #000000;
	color: #FFFFFF;
}
tr.total {
	background-color: #BBBBBB;
	font-weight: bold;
}

/*-------侧边栏-------*/
div.sidebar{
	float: right;
	width: 320px;
}
h2.side-title {
	font-size: 15px;
	font-weight: bold;
}
form {
	margin-left: 10px;
	font-size: 12px;
}
form div {
	margin: 5px 0px;
}
label {
	display: inline-block;
	width: 100px;
	text-align: right;
}
input.textbox {
	width: 150px;
	height: 20px;
}
p.tips {
	margin-left: 105px;
	color: #AAAAAA;
}
input.ss {
	vertical-align: bottom;
}
input.ms {
	vertical-align: middle;
}
textarea {
	vertical-align: top;
}
input.submit-button {
	margin: 10px 10px 10px 0;
	width: 300px;
	height: 30px;
	text-align: center;
}
div.copyright {
	padding: 15px 0;
	height: 30px;
	width: auto;
	background-color: #999999;
	color: #222222;
	text-align: center;
}