div.navi {
	background-color: rgb(33,137,191);
}

div.logo {
  position: absolute;
  left: 50px;
  top: 10px;
  width: 36px;
  height: 36px;
}

div.login img {
  position: absolute;
  left: 1145px;
  top: 20px;
  width: 15px;
  height: 16px;
}

div.login p {
  font-size: 12px;
  font-family: "AdobeHeitiStd";
  color: rgb( 255, 255, 255 );
  line-height: 2.25;
  position: absolute;
  left: 1163.297px;
  top: 48.344px;
}
